/*

This source file is part of the Stanford Biodesign Digital Health Spezi Web Study Platform open-source project

SPDX-FileCopyrightText: 2025 Stanford University and the project authors (see CONTRIBUTORS.md)

SPDX-License-Identifier: MIT

*/

@import "@stanfordspezi/spezi-web-design-system/tailwind.css";
@import "@stanfordspezi/spezi-web-design-system/base.css";
@import "./color.css";

@source "../../node_modules/@stanfordspezi/spezi-web-design-system/dist/**/*.js";

@utility bg-dots {
  --dot-color: var(--dot-bg-color, var(--color-zinc-300));
  --dot-size: var(--dot-bg-size, 1px);
  --dot-spacing: var(--dot-bg-spacing, 16px);

  /* Dots grid pattern using CSS variables */
  background-image: radial-gradient(
    circle,
    var(--dot-color) var(--dot-size),
    transparent var(--dot-size)
  );
  background-size: var(--dot-spacing) var(--dot-spacing);
}

@utility scrollbar-thin {
  scrollbar-width: thin;
}

:root {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}
